@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: "Mountains+of+Christmas";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.btn {
}
